{% extends 'safeinfo/base.html' %}
{% load static %}

          {% block content %}
          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">Summary</h1>
            </div>

            <!-- Content Row -->          
            <div class="row">
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div
                          class="
                            text-xs
                            font-weight-bold
                            text-primary text-uppercase
                            mb-1
                          "
                        >
                          State
                        </div>
                        <div class="h4 mb-0 font-weight-bold text-gray-800">
                          SAFE
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div
                          class="
                            text-xs
                            font-weight-bold
                            text-info text-uppercase
                            mb-1
                          "
                        >
                          Average of safe
                        </div>
                        <div class="row no-gutters align-items-center">
                          <div class="col-auto">
                            <div
                              class="
                                h4
                                mb-0
                                mr-3
                                font-weight-bold
                                text-gray-800
                              "
                            >
                              80%
                            </div>
                          </div>
                          <div class="col">
                            <div class="progress progress-sm mr-2">
                              <div
                                class="progress-bar bg-info"
                                role="progressbar"
                                style="width: 80%"
                                aria-valuenow="80"
                                aria-valuemin="0"
                                aria-valuemax="100"
                              ></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Area Chart -->
              <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div
                    class="
                      card-header
                      py-3
                      d-flex
                      flex-row
                      align-items-center
                      justify-content-between
                    "
                  >
                    <h6 class="m-0 font-weight-bold text-primary">
                      안전도
                    </h6>
                    <div class="dropdown no-arrow">
                    </div>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <div class="chart-area">
                      <canvas id="myAreaChart"></canvas>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Pie Chart -->
              <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div
                    class="
                      card-header
                      py-3
                      d-flex
                      flex-row
                      align-items-center
                      justify-content-between
                    "
                  >
                    <h6 class="m-0 font-weight-bold text-primary">
                      위반 항목
                    </h6>
                    <div class="dropdown no-arrow">
                    </div>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                      <canvas id="myPieChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                      <span class="mr-2">
                        <i class="fas fa-circle text-primary"></i> 마스크
                      </span>
                      <span class="mr-2">
                        <i class="fas fa-circle text-success"></i> 헬멧
                      </span>
                      <span class="mr-2">
                        <i class="fas fa-circle text-info"></i> 안전벨트
                      </span>
                      <span class="mr-2">
                        <i class="fas fa-circle text-secondary"></i> 안전화
                      </span>
                      <span class="mr-2">
                        <i class="fas fa-circle text-warning"></i> 장갑
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Content Row -->
            <div class="row">
              <div class="col-md-4">
                <div class="card mb-4">
                  <div class="card-header">
                      위반 이미지
                  </div>
                  <div class="card-body">
                      <img src="{% static 'assets/img/22.png' %}" class="card-img" alt="">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4">
                  <div class="card-header">
                      위반 이미지
                  </div>
                  <div class="card-body">
                      <img src="{% static 'assets/img/33.png' %}" class="card-img" alt="">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4">
                  <div class="card-header">
                      위반 이미지
                  </div>
                  <div class="card-body">
                      <img src="{% static 'assets/img/44.png' %}" class="card-img" alt="">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4">
                  <div class="card-header">
                      위반 이미지
                  </div>
                  <div class="card-body">
                      <img src="{% static 'assets/img/22.png' %}" class="card-img" alt="">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4">
                  <div class="card-header">
                      위반 이미지
                  </div>
                  <div class="card-body">
                      <img src="{% static 'assets/img/33.png' %}" class="card-img" alt="">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4">
                  <div class="card-header">
                      위반 이미지
                  </div>
                  <div class="card-body">
                      <img src="{% static 'assets/img/44.png' %}" class="card-img" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        {% endblock %}

        {% block script %}
        <!-- Page level custom scripts -->
        <script src="{% static 'jquery/jquery.min.js' %}"></script>
        <script src="{% static 'chart.js/Chart.min.js' %}"></script>
        <script src="{% static 'sb_admin/js/demo/chart-area-demo.js' %}"></script>
        <script src="{% static 'sb_admin/js/demo/chart-pie-demo.js' %}"></script>
        {% endblock %}
        
